:root {
    /* fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* text colors*/
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196F3;

    /* bg colors*/
    --light-bg-cl: #FFFFFF;
    --dark-bg-cl: #2F303A;
    /*animation*/
    --anim-fast: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);


    /* others*/

}