 .header__logo,
 .logo__footer {
     font-family: var(--secondary-font);
     font-weight: 700;
     font-size: 26px;
     line-height: calc(31 / 26);
     letter-spacing: 0.03em;
 }

 .first-three {
     color: var(--accent-txt-cl);
 }

 .other {
     color: #000000;
 }
  .other-footer {
      color: #FFFFFF;
  }