.priorities {
    padding-top: 60px;

    @media screen and (min-width:1200px){
     padding-top: 94px   
    }
   

}
.priorities__list{
    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 50%;
        }
         gap: 30px;
}
.priorities__item{
    
    gap: 30px;
  
    


}




.priorities__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
   
    height: 120px;
    background-color: #F5F4FA;
    @media screen and (min-width: 480px) {
            width: 450px;
    
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.priorities__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.priorities-work__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

    width: 270px;
    height: 16px;
    width: 100%;

    margin-bottom: 10px;
    &:last-child {
            margin-right: 0;
        }
}



.priorities-work__text {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
   

    &:last-child {
        margin-right: 0;
    }
 @media screen and (min-width: 480px) {
     width: 450px;

 }

 @media screen and (min-width: 768px) {
     width: 354px;
 }

 @media screen and (min-width: 1200px) {
     width: 270px;
 }
}

